################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/XmlParser/.vs/XmlParser/v15/Server/sqlite3/db.lock
